{% extends 'base.html' %}
{% load static %}
{% block cart %}
<div class="shopping-cart-wrap">
  <a href="#"> <span class="cart-total-amunt">{{cart.get_total_price}} تومان</span><i class="icon-shopping-bag2 float-left"></i><span class="cart-total">{{cart|length}}</span></a> 
    <ul class="mini-cart">
        {% for item in cart %}
            <li class="cart-item">
                <div class="cart-image">
                     <a href="{% url 'get.single.product' item.size.product.slug %}"><img alt="{{item.size.product.name}}" src="/media/{{item.size.picture}}" width="80" height="80"></a>  

                </div> 
                <div class="cart-title">
                    <a href="single-product.html">
                        <h4>{{item.size.product.name}} | {{item.size.name}}</h4>
                    </a>
                    <div class="quanti-price-wrap">
                        <span class="quantity">{{item.quantity}} ×</span>
                        <div class="price-box"><span class="new-price">{{item.price}} تومان</span></div>
                    </div>
                    <a class="{% url 'cart.remove' item.size.id %}" href="#"><i class="icon-x"></i></a>
                </div>
            </li>
        {% endfor %}
  
        <li class="subtotal-box">
            <div class="subtotal-title">
                <h3>جمع کل :</h3><span>{{cart.get_total_price}} تومان</span>
            </div>
        </li>
        <li class="mini-cart-btns">
            <div class="cart-btns">
                <a href="{% url 'cart.detail' %}">مشاهده سبد</a>
                <a href="{% url 'order.create' %}">پرداخت</a>
            </div>
        </li>
    </ul>
</div>
{% endblock cart %}
{% block title %}
فروشگاه اینترنتی رند - اطلاعات سفارش
{% endblock title %}
{% block content %}
<div class="container">
   
        <div class="row ">
            <div class="col-12 text-center mb-50">
                <br><br> <h2 style="">موفقیت آمیز ! </h2>

        
                <h3>  {{order.user.first_name}} {{order.user.last_name}} عزیز </h3>
                <p style="font-size:20px;color:#5C5C5C;">سفارش شما با موفقیت ثبت شد</p>
                <h4>شماره سفارش : #{{order.order_id}}</h4>
                <a href="{% url 'home' %}" class="btn btn-dark text-white mt-1 " >     به صفحه اصلی برو.      </a>
        
            </div>
        </div>
</div>
{% endblock content %}